
@{
    Layout = null;
}

<div class="art-bg">
    <img src="~/Content/VoiceX/VImage/art1.svg" alt="" class="art-img light-img">
    <img src="~/Content/VoiceX/VImage/art2.svg" alt="" class="art-img dark-img">
    <img src="~/Content/VoiceX/VImage/art-bg.svg" alt="" class="wave-img light-img">
    <img src="~/Content/VoiceX/VImage/art-bg2.svg" alt="" class="wave-img dark-img">
</div>

<header class="main-header">
    <!-- Logo -->
    <a href="@Url.Action("Index","Home")" class="logo">
        <!-- mini logo -->
        <div class="logo-mini text-white">
            <span class="light-logo">E-Services</span>
            <span class="dark-logo">E-Services</span>
        </div>
        <!-- logo-->
        @*<div class="logo-lg text-white">
            <span class="light-logo">E-Services</span>
            <span class="dark-logo">E-Services</span>
        </div>*@
    </a>
    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top">

        <div class="app-menu">
            <ul class="header-megamenu nav">
                <li class="btn-group nav-item">
                    <a href="#" class="nav-link rounded" data-toggle="push-menu" role="button">
                        <i class="nav-link-icon mdi mdi-menu text-white"></i>
                    </a>
                </li>



            </ul>
        </div>

        <div class="navbar-custom-menu r-side">
            <ul class="nav navbar-nav">



                @if (User.Identity.IsAuthenticated)
                {
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="User">
             
                      @Html.Action("userImage", "Home", new { area = "" })
                    </a>
                    <ul class="dropdown-menu animated flipInX">
                        <!-- User image -->
                        <li class="user-header bg-img" style="background-image: url(/VoiceX/VImage/user-info.jpg)" data-overlay="3">
                            <div class="flexbox align-self-center">
                                @Html.Action("userImage", "Home", new { area = "" })

                                <h4 class="user-name align-self-center">
                                    <span>@Html.Action("userName", "Home", new { area = "" })</span><br />
                                    <small>@Html.Action("userEmail", "Home", new { area = "" })</small>
                                </h4>
                            </div>
                        </li>

                        <!-- Menu Body -->
                        <li class="user-body">
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/Login/Logout/"><i class="ion-log-out"></i> Logout</a>
                            <div class="dropdown-divider"></div>
                            <div class="p-10"><a href="@Url.Action("EditProfile","Home")" class="btn btn-sm btn-rounded btn-success">Edit Profile</a></div>
                        </li>
                    </ul>
                </li>
                }
                else
                {
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="User">

                            <img src="~/VoiceX/VImage/janbaz2.jpg" class="user-image rounded-circle" alt="User Image">
                        </a>
                        <ul class="dropdown-menu animated flipInX">
                            <!-- User image -->
                            <li class="user-header bg-img" style="background-image: url(/VoiceX/VImage/user-info.jpg)" data-overlay="3">
                                <div class="flexbox align-self-center">
                                    <img src="~/VoiceX/VImage/janbaz2.jpg" class="float-left rounded-circle" alt="User Image">

                                    <h4 class="user-name align-self-center">
                                        <span>Janbaz Khan</span>
                                        <small>JanbazOfficial20@gmail.com</small>
                                    </h4>
                                </div>
                            </li>

                            <!-- Menu Body -->
                            <li class="user-body">

                                <a class="dropdown-item" href="javascript:void(0)"><i class="ion ion-settings"></i> Account Setting</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript:void(0)"><i class="ion-log-out"></i> Logout</a>
                                <div class="dropdown-divider"></div>
                                <div class="p-10"><a href="javascript:void(0)" class="btn btn-sm btn-rounded btn-success">View Profile</a></div>
                            </li>
                        </ul>
                    </li>
                }
                <!-- User Account-->


                <!-- Control Sidebar Toggle Button -->
                <li>
                    <a href="#" data-toggle="control-sidebar" title="Setting"><i class="fa fa-cog fa-spin"></i></a>
                </li>

            </ul>
        </div>
    </nav>
</header>