@model EServices.Models.Session

@{
    ViewBag.Title = "EditSession";
    Layout = null;
}


@using (Html.BeginForm())
{


    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(a => a.SessionId)
        <div class="form-group">
            @Html.Label("Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SessionName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SessionName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" id="btn" class="btn btn-primary">Submit</button>
                <button type="submit" class="btn btn-warning" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
}



<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
    //$('#btn').click(function () {
    //    var formData = $('#form').serialize();
    //    var url = "/Admission/EditSession";
    //    insertIn(url, formData);
    //    window.location.reload();
    //    $('#addEditModal').modal('hide');
    //})
</script>