
@{
    ViewBag.Title = "Index";
}
@Styles.Render("~/DataTableCss")

@Html.Action("Menu", "TeacherMapping")
<hr />
<img src="~/AppFolder/GIF/giphy.gif" id="loader" style="display:none;width:200px;height:200px;" />

            <a href="#" class="btn btn-primary" onclick="add()" style="margin-bottom:50px;"><i class="fa fa-plus"></i> Add New Mapping</a>
    @using (Html.BeginForm())
    {
        <div class="form-type-roundinput">
            <div class="form-group col-sm-4">
                @Html.DropDownList("Class", ViewBag.classes as SelectList, "Select Class", new { @class = "form-control", @required = "true" })
            </div>

           
            <div class="form-group col-sm-4">
                @Html.DropDownList("Section", ViewBag.section as SelectList, "Select Section", new { @class = "form-control", @required = "true" })
            </div>
            <div class="form-group col-sm-4">
                <input type="submit" value="Load" name="" class="btn btn-info" />
            </div>

        </div>

        if (ViewBag.list != null)
        {
      <hr />
        <table class="table" id="tbl">
            <thead style="color:white">

            <tr >
                <th>
                   Teacher
                </th>
                <th>
                    Section
                </th>
                <th>
                   Subject
                </th>
                <th>
                   Class
                </th>
                <th>
                  Session
                </th>

                <th>
                    Action
                </th>
            </tr>
            </thead>
            <tbody>



                @foreach (var item in ViewBag.list as IEnumerable<EServices.Models.Subject.Subject_Teacher_Mapping>)
                {
                    <tr>
                        <td>
                            <img src="@Url.Content(item.Teacher.Image)" width="40" height="40" class="img-circle" />  @Html.DisplayFor(modelItem => item.Teacher.EmpName)
                        </td>
                        <td>
                            @item.Sections.SectionName
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subjects.SubjectName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Classes.ClassName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sessions.SessionName)
                        </td>

                        <td>
                            <a href="#" onclick="confirm(@item.MapId)" class="btn btn-xs btn-warning"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
          <h4>No data found</h4>
    }

    }
<input type="hidden" id="hValue" />
<div class="modal modal-right fade" id="addEdit" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog dModal">
        <div class="modal-content ">
            <div class="modal-header">
                <a href="#" data-dismiss="modal" class="close">&times;</a>
                <div class="modal-title">
                    <h4> Add/Edit Record</h4>
                </div>
            </div>
            <div class="modal-body" id="Body">

            </div>
        </div>
    </div>
</div>
<div class="modal modal-danger" id="confirmModal" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog dModal">
        <div class="modal-content ">
            <div class="modal-body" id="confirmClass">
                <h4>Are you sure ? you want to delete this mapping</h4>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-danger" onclick="deleteRow()">Delete</a>
                <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
@Scripts.Render("~/DataTableJs")
<script>
    $('#tbl').DataTable();
    function add() {
        $('#loader').show();   

        var url = "/TeacherMapping/AddMapping/";
        $('#Body').load(url, function () {
            $('#addEdit').modal('show');
            $('#loader').hide();   

        });
    }
    function confirm(MapId) {
        $('#hValue').val(MapId);
        $('#confirmModal').modal('show');

    }
    function deleteRow() {
        var id = $('#hValue').val();
        $.ajax({
            type: "POST",
            url: "/TeacherMapping/DeleteMapping/" + id,
          
            success: function () {
                window.location.reload();
            }
        })
    }
</script>