

@model List<EServices.Models.Attendace.Attendance>
@{
    ViewBag.Title = "Index";
}
@*@Styles.Render("~/DataTableCss")*@

<ol class="breadcrumb">
    <li><i class="fa fa-user-circle"></i><a href="@Url.Action("Index","Attendance")">Attendance</a></li>
    <li><i class="fa fa-pagelines"></i><a href="@Url.Action("Details","Attendance")">Details</a></li>
</ol>
<h4>Attendance </h4>

@if (ViewBag.list==null)
{

if (User.IsInRole("Teacher"))
{
    <div class="form-type-roundinput">
        @using (Html.BeginForm())
        {
            <div class="form-group col-sm-4">

                @Html.DropDownList("Class", ViewBag.Classes as SelectList, "Select Class", new { @class = "form-control",@id="classId", @required = "true" })

            </div>
            @*<div class="form-group">
                @Html.DropDownList("Section", ViewBag.sections as SelectList, "Select Section", new { @class = "form-control", @id = "classId", @required = "true" })


            </div>*@
            <div class="form-group col-sm-4">
                <input type="submit" value="Load" name="" class="btn btn-info" />
            </div>

        }
    </div>
}
else
{
    <div class="form-type-roundinput">
        @using (Html.BeginForm())
        {

            <div class="form-group col-sm-4">

                @Html.DropDownList("Class", ViewBag.Classes as SelectList, "Select Class", new { @class = "form-control", @required = "true" })

            </div>
            <div class="form-group col-sm-4">
                @Html.DropDownList("Section", ViewBag.sections as SelectList, "Select Section", new { @class = "form-control", @required = true })
            </div>
            <div class="form-group col-sm-4">
                <input type="submit" value="Load" name="" class="btn btn-info" />
            </div>

        }
    </div>
}
}
else
{
        
<form id="form2">
    <hr />
    @if (ViewBag.list != null)
    {
        int i = 0;
        var lis = ViewBag.list as IEnumerable<EServices.Models.StudentRegistrationModel>;
        if (lis.Count() > 0)
        {

            <table class="table table-condensed" id="tbl">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Father Name</th>
                        <th>Class</th>
                        <th>Status</th>
                        <th>@Html.CheckBox("checkBox", new { @id = "checkAll" }) SMS</th>

                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in ViewBag.list as IEnumerable<EServices.Models.StudentRegistrationModel>)
                    {

                        <tr>
                            @Html.HiddenFor(a => a[i].AddmissionNo, new { @Value = item.AddmissionNo })
                            @Html.HiddenFor(a => a[i].ClassId, new { @Value = item.ClassId })
                            @Html.HiddenFor(a => a[i].SessionId, new { @Value = item.SessionId })
                            @Html.HiddenFor(a => a[i].SectionId, new { @Value = item.SectionId })
                            <td><img src="@Url.Content(item.Image)" height="40" width="40" class="img-circle" />  @item.StudentName</td>
                            <td>@item.Parent.FatherName</td>
                            <td>@item.Class.ClassName</td>
                          <td>  @Html.DropDownListFor(a => a[i].Status, new[] {
                                                                      new SelectListItem(){Text="Present"}
                                                                     ,new SelectListItem(){Text="Absent" }
                                                                     ,new SelectListItem(){Text="Leave" } } ,new { @class="form-control"})</td>
                            <td>
                       @Html.CheckBoxFor(a => a[i].SMS_Status, new { @class = "checkBox1" })
                          </td>

                        </tr>
                        i++;
                    }

                </tbody>
            </table>
            <center>
                <button type="button" class="btn btn-primary" id="btnSubmit">Submit</button>
                <label id="msg" style="display:none;" ></label>              
                <img src="~/AppFolder/GIF/giphy.gif"  width="100" height="100" id="loader" style="display:none;"/>
            </center>
        }
        else
        {
            <h3 class="text-center text-danger">No result found</h3>
        }
    }

</form>
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
@*@Scripts.Render("~/DataTableJs")*@


<script>

    $('#checkAll').click(function () {
        $('input:checkbox').prop('checked', this.checked);
    });
    //$('#tbl').DataTable();
    $('#btnSubmit').click(function () {
        var msg = $('#msg');
        $('#loader').show();
        var form = $('#form2').serialize();
        $.ajax({
            type: 'POST',
            url: '/Attendance/SubmitAttendance/',
            data: form,
            success: function (response) {
                msg.empty();
                msg.show();
                if (response == "success") {
                    msg.removeClass("text-danger");
                    msg.addClass("text-info");
                    msg.append("Submited successfully...");
                }
              
                else {
                    msg.removeClass("text-info");
                    msg.addClass("text-danger");
                    msg.append("today attendance already submited...");
                }
                $('#btnSubmit').prop("disabled", true);
                $('#btnSubmit').removeClass("btn-primary");
                $('#btnSubmit').addClass("btn-info");
                $('#loader').hide();
            },

        })
    })
</script>



